<div class="app-container">
  <section>
    <div class="container-fluid">
      <div class="page-title">
        <h3>Pricing Guide</h3>
        <p>Our Platform is free to use for as long as you want.</p>
        <p>*Prices and features are subject to change anytime.</p>
      </div>

      <div class="row">
        <div class="col-6">
          <h3 style="padding-right: 15px; text-align: end;">Subscriptions</h3>
          <app-subscriptions></app-subscriptions>
        </div>
        <div class="col-6 spererator">
          <h3 style="padding-left: 15px;">Streaming Packages</h3>
          <app-packages></app-packages>
        </div>
      </div>
    </div>
  </section>
  <app-footer></app-footer>
</div>